#title {
    margin-top: -5px;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    color: #013815;
}
body {
    background: #fbfdfa;
}

.navbar {
    background-color: #97d50d;
}

.navbar-brand {
    color: #087000;
    margin-right: 50px;
    font-family: "Dancing Script", cursive;
    font-weight: 800;
    font-size: 30px;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 30px;
}

.navbar .nav-link {
    color: white;
    margin-right: 20px;
}

.navbar .nav-link:hover {
    color: #d4f1d6;
}

.navbar-brand:hover {
    color: #0b7c00;
}
.btn-outline-success {
    color: white;
    background-color: #087000;
    border-color: #087000;
}

.btn-outline-success:hover {
    background-color: #0b7c00;
    border-color: #0b7c00;
}
.form-inline .form-control:focus {
    outline: none;
    box-shadow: none;
    border: none;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: #b1e196;
    border: solid #97d50d 1px;
    border-radius: 20px;
    margin: 30px;
}

.flex-container > div {
    background-color: #b1e196;
    width: 50%;
    margin: 20px;

}
.forma{
    padding: 0 5%;
}
.form{
    margin:5px;

}
#title-contact{
    color: #013815;
    font-family:"sans-serif", cursive;
    font-weight: 800;
    font-size: 50px;
    margin-top: 5%;
    padding-bottom: 20px;
}

#about-title{
    color: #013815;
    text-align:center;
    font-family:"sans-serif", cursive;
    font-weight: 500;
    font-size: 50px;
    margin-top: 2%;

}
p{
    text-align: center;
    font-style: italic;
    margin: 3%;
}

.flex-container-about {
    display: flex;
    flex-wrap: nowrap;
    margin: 30px;
}

.about-mission,.about-img{
    width: 50%;
    margin: 20px;
    border-radius: 20px;
}
.about-mission{
    background-color: #b1e196;
}
.about-mission:hover{
    width: 52%;
}

.about-text{
    text-align: left;
    font-style: normal}
#title-about{
    color: #013815;
    text-align:center;
    font-family:"sans-serif", cursive;
    font-weight: 700;
    font-size: 30px;
    margin-top: 5%;
    padding-bottom: 20px;
}

#founder,#staff,#home_title{
    text-align: center;
    color: #013815;
    font-family: "Verdana", cursive;
    font-weight: 500;
    font-size: 30px;
}
.flex-container-founder{
    display: flex;
    flex-wrap: nowrap;
    margin: 50px;
}
.about-founder,.founder-img{
    width: 50%;
    margin: 20px;
}
.flex-container-staff{
    display: flex;
    flex-wrap: nowrap;
    margin: 50px;
}

.staff{
    width: 25%;
    margin: 20px;
}
.staff-desc{
    margin: 0;
}
.img-fluid{
    padding:  0 30px;
}




.card {
    margin-top: 10%;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: 1px solid #bfcec3;
    border-radius: 5px;
    transition: transform 0.2s;
}

.card img {
    border-radius: 2px;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    padding: 10px;
    text-align: center;
}

.card-title ,#animalModalLabel{
    font-size: 1rem;
    color: #026728;
    font-weight: bold;
}

.card-text {
    font-size: 0.875rem;
    color: #666;
}

.modal-content {
    max-width: 500px;
    margin: auto;
    border-radius: 8px;
    overflow: hidden;
}

.modal-body {
    padding: 20px;
    text-align: center;
}

.modal-body img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.modal-body h5 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.modal-body p {
    font-size: 0.875rem;
    margin-bottom: 10px;
}


.carousel-inner {
    max-height: 500px;

}
.footer
{
    width: 100%;
    background-color: #2f4f17;
    color: #ffffff;

}
